
.return {
    width: 5%;
    transition: 0.1s all;
}

.return:hover {
    transition: all 0.1s;
    animation: logoAnimation infinite 2s ease;
    cursor: pointer;
}

.margin {
    margin-left: 5%;
    margin-right: 5%;
}

#map {
    margin-top: 7.5%;
    width: 100%;
    height: 500px;
}

.text {
    padding-left: 3%;
    margin-left: 2%;
    margin-right: 5%;
    font-family: "Lucida Sans Typewriter", sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.front {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 80% 20%;
}

#frontGrid {
    display: grid;
    grid-template-columns: 75% 1fr;
}

h1 {
    letter-spacing: 4px;
    text-align: center;
    font-size: 48px;
    font-family: "Lucida Sans Typewriter", sans-serif;
    font-weight: bold;
    font-style: italic;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: #03d5d5 solid 4px;
    padding-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

#startButton {
    width: 40%;
    padding: 2%;
    margin-left: 25%;
    background: linear-gradient(#afffff, #03d5d5);
    border: none;
    font-family: "Lucida Sans Typewriter", sans-serif;
    font-weight: bold;
    font-size: 48px;
    font-style: italic;
}

#startButton:hover {
    transition: 0.1s all;
    scale: 105%;
    cursor: pointer;
    background: linear-gradient(#b5ffff, #27ffff);
}

#InfoButton {
    width: 30%;
    padding: 2%;
    background: linear-gradient(#afffff, #03d5d5);
    border: none;
    font-family: "Lucida Sans Typewriter", sans-serif;
    font-weight: bold;
    font-size: 48px;
    font-style: italic;
}

#InfoButton:hover {
    transition: 0.1s all;
    scale: 105%;
    cursor: pointer;
    background: linear-gradient(#b5ffff, #27ffff);
}

.rightText {
    border-right: 4px solid #03d5d5;
    padding-left: 3%;
    margin-left: 2%;
    margin-right: 5%;
    font-family: "Lucida Sans Typewriter", sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.leftText {
    border-left: 4px solid #03d5d5;
    margin-top: 0;
    padding-top: 5%;
    padding-left: 3%;
    margin-left: 2%;
    margin-right: 5%;
    font-family: "Lucida Sans Typewriter", sans-serif;
    font-weight: bold;
    font-size: 48px;
}

#fitSelection {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 5%;
}

#currentFit {
    display: flex;
    margin-top: 0;
    border-left: 4px solid #03d5d5;
    flex-direction: column-reverse;

}

.clothingSelected {
    height: 30%;
    margin: 3%;
    width: 30%;

}

.clothingSelected:hover {
    transition: all 0.1s;
    scale: 150%;
    cursor: none;
}


.box {
    width: 21%;
    padding: 1%;
    margin: 1%;
}

.boxImages {
    width: 75%;
    height: 225px;
    transition: all 0.1s;
}

.boxImages:hover {
    transition: all 0.1s;
    scale: 110%;
    cursor: pointer;
}

.boxText {
    font-family: "Lucida Sans Typewriter", sans-serif;
    font-weight: bold;
    font-style: italic;
}

#nav {
    margin-top: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#finishItem {
    margin-top: 10%;
    padding: 2%;
    text-align: center;
    border: #03d5d5 3px solid;
    border-radius: 4px;
    width: 50%;
    height: 70%;
    transition: all 0.1s;
}

#finishItem:hover {
    transition: all 0.1s;
    scale: 110%;
    cursor: pointer;
}

.navItem {
    margin: 5%;
    padding: 2%;
    text-align: center;
    border: #03d5d5 3px solid;
    border-radius: 4px;
    width: 10%;
}

.navItem:hover {
    transition: 0.1s all;
    scale: 110%;
    cursor: pointer;
}

@keyframes logoAnimation {
    0%  {
        scale: 100%;
    }

    50%{
        scale: 120%;
    }

    100%{
        scale: 100%;
    }

}
